/* General */
body {
    font-family: 'Archivo', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* Alineación flexible para evitar que el contenido se "apile" */
    height: 100%;
    min-height: 100vh; /* Aseguramos que el cuerpo ocupe toda la altura de la pantalla */
    flex-direction: column;
    box-sizing: border-box;
    transition: background 1s ease;
}

/* Contenedor principal */
.container {
    text-align: center;
    max-width: 900px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;  /* Para que el padding no afecte el ancho del contenedor */
}

/* Encabezado */
header {
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

p {
    font-size: 1.1rem;
    color: #888;
}

/* Estilo de la lista de canciones */
.album-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.track-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro 70% transparente */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px; /* Añadimos un margen superior para separar un poco de la descripción */
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #444; /* Línea divisoria entre las canciones */
}

.track:last-child {
    border-bottom: none; /* Eliminamos la línea en el último elemento */
}

.track-title {
    font-size: 1.2rem;
    font-weight: 500;
    flex: 1; /* Asegura que el título ocupe el espacio disponible */
    text-align: left; /* Alineamos los títulos de las canciones a la izquierda */
}

.play-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;  /* Ajusté el tamaño del padding para que el botón no sea tan ancho */
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;  /* Centrar el texto del botón */
    width: auto;  /* El ancho del botón se ajusta al contenido */
    margin-left: 10px;  /* Separación entre el botón y el título */
}

.play-btn:hover {
    background-color: #45a049;
}

/* Estilo para botones deshabilitados */
.play-btn:disabled {
    background-color: #777; /* Gris oscuro */
    color: #bbb;  /* Gris claro */
    cursor: not-allowed; /* Cursor de no permitido */
    opacity: 0.6; /* Opacidad para mayor contraste */
    box-shadow: none; /* Elimina sombras del botón deshabilitado */
}

/* Estilo del reproductor */
.audio-player {
    margin-top: 40px;
    width: 100%;
    max-width: 600px;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

audio {
    width: 100%;
    outline: none;
}
