/* General */
body {
    font-family: 'Archivo', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    transition: background 1s ease;
}

/* Contenedor principal */
.container {
    text-align: center;
    max-width: 900px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Encabezado */
header {
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

p {
    font-size: 1.1rem;
    color: #888;
}

/* Estilo de la lista de canciones */
.album-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.track-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

.track:last-child {
    border-bottom: none;
}

.track-title {
    font-size: 1.2rem;
    font-weight: 500;
    flex: 1;
    text-align: left;
}

.play-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: auto;
    margin-left: 10px;
}

.play-btn:hover {
    background-color: #45a049;
}

/* Estilo para botones deshabilitados */
.play-btn:disabled {
    background-color: #777;
    color: #bbb;
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
}

/* Anclar el reproductor a la parte inferior */
.audio-player {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shado
